<template>
  <div class="container">
    <div class="grid">
      <vs-row>
        <vs-col w="6">
          <img class="logo" src="/logos/LogoTextFilled.svg" />
        </vs-col>
        <vs-col w="6">
          <div class="links">
            <!-- <NuxtLink to="/">Home</NuxtLink>
            <NuxtLink to="/dashboard">Dashboard</NuxtLink>
            <NuxtLink to="/profile">Profile</NuxtLink>
            <NuxtLink to="/reputation">Reputation</NuxtLink> -->
            <a href="https://twitter.com/_venrate">Twitter</a>
            <a href="https://discord.gg/g2EhvWdN">Discord</a>
            <a href="mailto:theanshulrai@gmail.com">contact</a>
          </div>
        </vs-col>
      </vs-row>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(90deg, #ef64d9 0%, #00ffa3 100%);
    border-radius: 10px;
    height: 4px;
    top: -20px;
    max-width: 98%;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.grid {
  padding: 20px 0;
}
.links {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  & > * {
    text-decoration: none;
    color: #afafaf;
    font-family: poppins;
  }
  a:hover {
    color: #67E0BA;
  }
}
.logo {
  height: 5rem;
  width: 15rem;
  padding-bottom: 2rem;
}
</style>
