<template>
  <div class="center examplex">
    <vs-navbar
      text-white
      color="#303030"
      center-collapsed
      v-model="active"
      fixed
      shadow
      square
      class="navbar"
    >
      <template #left>
        <NuxtLink to="/">
          <img class="logo" src="/logos/LogoTextFilled.svg" alt="Logo" />
        </NuxtLink>
      </template>
      <!-- <NuxtLink to="/dashboard" class="link">Dashboard</NuxtLink>
      <NuxtLink to="/profiles" class="link">Profile</NuxtLink>
      <NuxtLink to="/dashboard" class="link">Reputation</NuxtLink>
      <NuxtLink to="/dashboard" class="link">Transaction</NuxtLink>
      <NuxtLink to="/dashboard" class="link">Dispute</NuxtLink> -->

      <vs-navbar-item class="link" to="/dashboard" id="guide">
        Dashboard
      </vs-navbar-item>
      <vs-navbar-item class="link" to="/profile" id="profile">
        Profile
      </vs-navbar-item>
      <vs-navbar-item class="link" to="/reputation" id="docs">
        Reputation
      </vs-navbar-item>
     
      <vs-navbar-item class="link" id="components">
        Docs
      </vs-navbar-item>
      <template #right>
        <!-- <vs-button flat>Login</vs-button> -->
        <vs-button @click="logout" class="button">Logout</vs-button>
      </template>
    </vs-navbar>
  </div>
</template>
<style scoped>
.logo {
  height: 2rem;
  width: 10rem;
}
.navbar {
  padding: 0.7rem;
}
.link {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.button {
  background: #eef0f5;
  padding: 0.5rem 1rem;
  color: #303030;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 1rem;
  border-radius: 20px;
}
.button:hover {
  box-shadow: 0px 4px 7px #3d3d3d;
}
</style>
<script>
export default {
  data: () => ({
    active: ""
  }),
  methods: {
    async auth() {
      this.$store.dispatch("ceramicAuth").then(Boolean => {
        console.log(Boolean);
        if (Boolean) {
          this.$router.push({ path: "/dashboard" });
        }
      });
    },
    async logout() {
     this.$store.dispatch("logout").then(()=>{
      this.$router.push({ path: "/" });
     })
    }
  }
};
</script>
