<template>
  <div class="center examplex">
    <vs-navbar
      text-white
      color="#303030"
      center-collapsed
      v-model="active"
      fixed
      shadow
      square
      class="navbar"
    >
      <template #left>
        <NuxtLink to="/">
          <img class="logo" src="/logos/LogoTextFilled.svg" alt="Logo" />
        </NuxtLink>
      </template>

     
      <template #right>
        <!-- <vs-button flat>Login</vs-button> -->
        <vs-button @click="auth" class="button">Connect Wallet</vs-button>
      </template>
    </vs-navbar>
  </div>
</template>
<style scoped>
.logo {
  height: 2rem;
  width: 10rem;
}
.navbar {
  padding: 0.7rem;
}
.link {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.button {
  background: #EEF0F5;
  padding: 0.5rem 1rem;
  color: #303030;
  font-weight: 700;
  font-family: 'Montserrat';
  font-size: 1rem;
  border-radius: 20px;
}
.button:hover {
    box-shadow: 0px 4px 7px #3d3d3d;
}
</style>
<script>
export default {
  data: () => ({
    active: ""
  }),
   methods: {
    async auth() {
     this.$store
      .dispatch("ceramicAuth")
      .then((Boolean) => {
        console.log(Boolean);
        if(Boolean) {
          this.$router.push({path: '/dashboard'})
        }
      })
   }
  } 
};
</script>
