<template lang="">
  <div class="vuesax-logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680.69 725.78"><title>Recurso 47</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><polygon points="680.42 59.35 555.03 59.35 340.34 391.82 125.67 59.35 0.27 59.35 340.35 586 680.42 59.35" /><polygon points="340.34 644.59 52.42 198.71 0 198.71 340.33 725.78 680.69 198.71 628.26 198.71 340.34 644.59" /><polygon points="518.83 10.13 340.33 281.52 161.87 10.13 293.21 43.27 293.21 0 387.48 0 387.48 43.27 518.83 10.13" /></g></g></svg>
  </div>
</template>
<style>
.vuesax-logo {
  width: 100%;
  max-width: 170px;
}

.vuesax-logo svg {
  width: 100%;
  fill: #35495e;
}
</style>
