<template>
  <div class="container">
    <div class="dashboard">
      <p class="dashboard_details">Your Current Details</p>
      <div class="dashboard_card">
        <vs-row style="align-items: center;">
          <vs-col sm="12" w="8">
            <div class="details">
              <div class="details_left">
                <p>Wallet Address :</p>
                <p class="values">{{ ethaddress }}</p>
                <p>DID :</p>
                <p class="values">{{ did }}</p>
                <p>ENS :</p>
                <p class="values">{{ ens }}</p>
                <button class="wallet_button" @click="auth">Re-fetch</button>
              </div>
            </div>
          </vs-col>
          <vs-col sm="12" w="4">
            <div class="reputation">
              <div class="avatar">
                <Avatar
                  username="Name"
                  style="height: 8rem; width: 8rem"
                ></Avatar>
              </div>
              <p class="reputation_head">Reputation</p>
              <p class="reputation_score">{{ reputation }}</p>
            </div>
          </vs-col>
        </vs-row>
      </div>
      <h1 class="reputation_history">REPUTATION HISTORY</h1>
      <div class="center">
        <vs-table>
          <template #thead>
            <vs-tr>
              <vs-th>
                Transaction Id
              </vs-th>
              <vs-th>
                Time
              </vs-th>
              <vs-th>
                Reputation
              </vs-th>
            </vs-tr>
          </template>
          <template #tbody>
            <vs-tr
              :key="i"
              v-for="(tr, i) in users"
              :data="tr"
              :danger="tr.id == 3"
              :success="tr.id == 5"
              :primary="tr.id == 8"
              :warn="tr.id == 9"
            >
              <vs-td>
                {{ tr.name }}
              </vs-td>
              <vs-td>
                {{ tr.email }}
              </vs-td>
              <vs-td>
                {{ tr.id }}
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
// -------------------------------------------------- container -------------------------------------------------------
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.dashboard {
  padding-top: 100px;
  font-family: poppins;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_details {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    letter-spacing: 0.05rem;
    font-size: 22px;
  }

  &_card {
    padding: 35px 20px;
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 7px 7px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 80%;
    height: 23rem;
    display: flex;
    align-items: center;
  }
}
.wallet {
  &_button {
    padding: 0.6rem 2rem;
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #67e0ba;
    font-size: 18px;
    font-family: poppins;
    text-transform: uppercase;
    border: none;
    &:active {
      box-shadow: inset -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
    }
  }
}
.reputation {
  height: 230px;
  margin: 0 25px 0 0;
  padding: 15px 25px;
  background: #303030;
  box-shadow: -4px -4px 7px #3d3d3d, 7px 7px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &_head {
    color: #67e0ba;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05rem;
    // margin-top: 35px;
  }
  &_score {
    // margin-top: 25px;
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(115.87deg, #00ffa3 10%, #5685ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &_history {
    margin-top: 80px;
    text-align: right;
    color: white;
    letter-spacing: 0.06rem;
    padding-bottom: 10px;
    position: relative;
    &::before {
      content: "";
      background: #ef64d9;
      border-radius: 10px;
      position: absolute;
      height: 4px;
      width: 40%;
      right: 0;
      bottom: 0;
    }
  }
  .avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
    width: 9rem;
    height: 9rem;
    border-radius: 900px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 0 10px;
  &_left {
    p {
      color: #afafaf;
      margin: 15px 0;
    }
    .values {
      max-width: 400px;
      word-wrap: break-word;
      color: #eef0f5;
    }
  }
  &_right {
    p {
      color: #eef0f5;
      margin: 15px 0;
    }
  }
}
.center {
  margin: 30px 0;
  background: #303030;
  box-shadow: -4px -4px 7px #3d3d3d, 7px 7px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
}

// ------------------------------------------------------------------------------------------------------------------------
</style>

<script>
import Avatar from "vue-avatar";
import { mapState } from "vuex";
import axios from "axios";
export default {
  // middleware: "auth",
  head () {
    return {
      title: 'Dashboard',
    }
  },
  components: {
    Avatar
  },
  data: () => ({
    users: [],
    did: "",
    ethaddress: "",
    reputation: ""
  }),
  computed: {
    ...mapState(["basicProfile","ens"])
  },
  mounted: function() {
    this.getReputation();
    this.reputation = localStorage.getItem("reputation");
    this.did = localStorage.getItem("did");
    this.ethaddress = localStorage.getItem("ethaddress");
  },
  methods: {
    async auth() {
      this.$store.dispatch("ceramicAuth").then(Boolean => {
        console.log(Boolean);
        this.$store.dispatch("resolveAndReturnEthaddressFromENS");
        if (Boolean) {
          this.$router.push({ path: "/dashboard" });
        }
      });
    },
    async getReputation() {
      const score = await axios.get(
        `https://reputation-api.herokuapp.com/reputation/${this.$store.state.ethaddress}`
      );
      console.log(this.ethaddress)
      localStorage.setItem("reputation", score.data.reputation);
      console.log(score.data.reputation);
    }
  }
};
</script>
