<template>
  <div class="container">
    <div class="edit">
      <h1 class="edit_head">EDIT PROFILE</h1>
      <div class="edit_card">
        <input type="text" placeholder="Enter Name" v-model="profile.name" />
        <!-- <input type="text" placeholder="Enter ENS" v-model="ens" /> -->
        <input
          type="date"
          placeholder="Enter Age"
          v-model="profile.birthDate"
        />
        <input
          type="text"
          placeholder="Enter Gender"
          v-model="profile.gender"
        />
        <textarea
          class="edit_card__bio"
          type="text"
          placeholder="Enter Bio"
          v-model="profile.description"
        />
        <div class="edit_card__button">
          <button @click="updateBasicProfile">SUBMIT</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  // middleware: "auth",
  head () {
    return {
      title: 'Edit Profile',
    }
  },
  data() {
    return {
      did: "",
      userID: "",
      sessionID: "",
      profile: {
        name: "",
        description: "",
        gender: "",
        birthDate: "",
      },
    };
  },
  methods: {
    async updateBasicProfile() {
      let profile = this.profile;

      await this.$store.dispatch("updateBasicProfile", { profile });
      console.log(profile);
      setTimeout(() => {
        this.$router.replace("/profile");
      }, 3000);
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.edit {
  font-family: poppins;
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 10px;

  &_card {
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 7px 7px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;

    &__name {
      color: white;
      margin-top: 15px;
      font-size: 32px;
    }
    input {
      padding: 15px;
      color: white;
      font-family: poppins;
      background: #303030;
      box-shadow: inset -4px -4px 4px #3d3d3d,
        inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin: 15px 0;
      border: none;
    }
    textarea {
      border: none;
      resize: vertical;
      padding: 20px 15px;
      color: white;
      font-family: poppins;
      background: #303030;
      box-shadow: inset -4px -4px 4px #3d3d3d,
        inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin: 10px 0;
      &:active,
      &:focus {
        outline: none;
        border: none;
      }
    }
    &__button {
      display: flex;
      margin: auto 0;
      justify-content: center;
      margin-top: 20px;
      button {
        text-decoration: none;
        padding: 10px 30px;
        background: #303030;
        box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        color: #67e0ba;
        font-size: 18px;
        font-family: poppins;
        text-transform: uppercase;
        border: none;
        &:active {
          box-shadow: inset -4px -4px 7px #3d3d3d,
            4px 4px 7px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  &_head {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, #ef64d9, #67e0ba);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
</style>
