<template>
  <div class="container">
    <section>
      <div class="grid">
        <vs-row style="align-items: center">
          <vs-col class="grid_left" sm="12" w="6">
            <div class="logo">
              <img class="logo_img" src="/logos/Logo.svg" />
              <p class="logo_text_2">
                A <strong> Reputation</strong> that is not tied to any
                <span class="logo_text">
                  platform and portable all across.</span
                >
              </p>
              <!-- <p class="logo_text_2">
                Sign up and get your score
              </p> -->
            </div>
          </vs-col>
          <vs-col sm="12" w="6" class="grid_right">
            <div class="wallet">
              <h2 class="wallet_head">Connect Wallet</h2>
              <p class="wallet_para">
                Join the decentralized space
              </p>
              <img class="wallet_img" src="/metamask.png" />
              <button class="wallet_button" @click="auth">Connect</button>
              <!-- <p class="wallet_break">Or</p>
              <button class="wallet_button ens">
                Connect Bright ID
              </button> -->
            </div>
          </vs-col>
        </vs-row>
      </div>
    </section>
    <!-- ------------------------------------- about ------------------------------------- -->
    <section>
      <div class="about">
        <h1 class="about_head">ABOUT US</h1>
        <div class="about_con">
          <vs-row>
            <vs-col sm="12" w="6">
              <div class="about_para__wrapper">
                <div class="about_para">
                  <p class="about_paraone">
                    <span>Venrate</span> provides data points to users based on
                    their attributes around on-chain and financial activity.
                  </p>
                </div>
              </div>
            </vs-col>
            <vs-col
              sm="12"
              w="6"
              style="display: flex;justify-content: flex-end;"
            >
              <div class="about_card">
                <!-- <div>
                  <img height="300px" src="/aas.jpg" />
                </div> -->
              </div>
            </vs-col>
          </vs-row>
        </div>
        <div class="about_con">
          <vs-row>
            <vs-col
              sm="12"
              w="6"
              style="display: flex;justify-content: flex-start;"
            >
              <div class="about_card">
                <div>
                  <img class="ceramic" src="/ceramic.png" />
                </div>
              </div>
            </vs-col>
            <vs-col sm="12" w="6">
              <div class="about_para__wrapper right ">
                <div class="about_para">
                  <p class="about_paraone">
                    As it is built over Ceramic Network's decentralized
                    architecture, On <span> Venrate</span>, all data is
                    privatized around personal identifying information and open
                    access.
                  </p>
                </div>
              </div>
            </vs-col>
          </vs-row>
        </div>
        <div class="about_con">
          <vs-row>
            <vs-col sm="12" w="6">
              <div class="about_para__wrapper">
                <div class="about_para">
                  <p class="about_paraone">
                    With <span>Venrate's</span> decentralized data point, you
                    can benefit a reduced collateral requirement under the terms
                    of the lending agreement.
                  </p>
                </div>
              </div>
            </vs-col>
            <vs-col
              sm="12"
              w="6"
              style="display: flex;justify-content: flex-end;"
            >
              <div class="about_card">
                <!-- <div>
                  <img height="300px" src="/aas.jpg" />
                </div> -->
              </div>
            </vs-col>
          </vs-row>
        </div>
      </div>
      <div class="features">
        <h1 class="features__head">Features</h1>
        <div class="features__card-container">
          <div class="features__card">
            <div class="features__card--no">
              <img
                src="/features-title.svg"
                class="features__card--no__outline"
              />
              <div class="features__card--no__text">1</div>
            </div>
            <div class="features__card--title">
              <div
                class="features__card--title__text"
                style="text-align:center"
              >
                Data Privacy<br />
                & control
              </div>
              <div class="features__card--title__underline"></div>
            </div>
            <div class="features__card--text">
              No one has control over your data, only you yourself.
            </div>
          </div>
          <div class="features__card">
            <div class="features__card--no">
              <img
                src="/features-title.svg"
                class="features__card--no__outline"
              />
              <div class="features__card--no__text">2</div>
            </div>
            <div class="features__card--title">
              <div
                class="features__card--title__text"
                style="text-align:center"
              >
                On-Chain Reputation
              </div>
              <div class="features__card--title__underline"></div>
            </div>
            <div class="features__card--text">
              Get a reputation score based on
              <strong>"On Chain Activity"</strong>
            </div>
          </div>
          <div class="features__card">
            <div class="features__card--no">
              <img
                src="/features-title.svg"
                class="features__card--no__outline"
              />
              <div class="features__card--no__text">3</div>
            </div>
            <div class="features__card--title">
              <div class="features__card--title__text">Public Accessible</div>
              <div class="features__card--title__underline"></div>
            </div>
            <div class="features__card--text">
              Your reputation is publicly accessible across entire decentralized
              space.
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="team">
        <h1 class="team_head">TEAM</h1>
        <vs-row>
          <vs-col sm="12" w="4">
            <div class="team_card">
              <img src="/anshul.jpg" alt="avatar" class="team_card__img" />
              <div class="team_card--name">Anshul Rai</div>
              <div class="team_card--type">Blockchain Developer</div>
            </div>
          </vs-col>
          <vs-col sm="12" w="4">
            <div class="team_card">
              <img src="/aditya.png" alt="avatar" class="team_card__img" />
              <div class="team_card--name">Aditya Vijayakumar</div>
              <div class="team_card--type">Blockchain Developer</div>
            </div>
          </vs-col>
          <vs-col sm="12" w="4">
            <div class="team_card">
              <img src="/aayush.jpg" alt="avatar" class="team_card__img" />
              <div class="team_card--name">Aayush Kumar</div>
              <div class="team_card--type">Front-end Developer</div>
            </div>
          </vs-col>
        </vs-row>
        <vs-row style="margin-top:50px">
          <vs-col sm="12" w="4">
            <div class="team_card">
              <img src="/anirudh.png" alt="avatar" class="team_card__img" />
              <div class="team_card--name">Aniruddha Sil</div>
              <div class="team_card--type">UI / UX Designer</div>
            </div>
          </vs-col>
          <vs-col sm="12" w="4">
            <div class="team_card">
              <img src="/rahul.jpeg" alt="avatar" class="team_card__img" />
              <div class="team_card--name">Rahul Sinha</div>
              <div class="team_card--type">Smart Contract Developer</div>
            </div>
          </vs-col>
          <vs-col sm="12" w="4">
            <div class="team_card">
              <img src="/vaibhav.png" alt="avatar" class="team_card__img" />
              <div class="team_card--name">Vaibhav Jamwal</div>
              <div class="team_card--type">Backend Developer</div>
            </div>
          </vs-col>
        </vs-row>
      </div> -->
      <div class="contact">
        <div class="contact__card">
          <div class="contact__card--title">contact us</div>
          <div class="contact__card--email">auralshin@gmail.com</div>
          <a
            class="wallet_button"
            style="text-decoration:none"
            href="mailto:theanshulrai@gmail.com"
            >Mail Us</a
          >
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";
import VuesaxLogo from "~/components/VuesaxLogo.vue";

export default {
  head() {
    return {
      title: "Venrate"
    };
  },
  layout: "home",
  components: {
    Logo,
    VuesaxLogo
  },
  methods: {
    async auth() {
      this.$store.dispatch("ceramicAuth").then(Boolean => {
        console.log(Boolean);
        if (Boolean) {
          this.$router.push({ path: "/dashboard" });
        }
      });
    },
    async getEns() {
      this.$store.dispatch("resolveAndReturnEthaddressFromENS", {
        ens: "firefly.eth"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
// -------------------------------------------------- container -------------------------------------------------------
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// ------------------------------------------------------------------------------------------------------------------------

.grid {
  min-height: 95vh;
  margin-top: 40px;
  padding-top: 110px;
  &_left {
    @media (max-width: 890px) {
      display: flex !important;
      justify-content: center !important;
    }
  }
  &_right {
    display: flex !important;
    justify-content: flex-end !important;
    @media (max-width: 890px) {
      margin-top: 50px;
      justify-content: center !important;
    }
  }
}

.logo {
  padding: 0 25px 0 0;
  @media (max-width: 890px) {
    padding: 0 0 0 45px;
  }
  &_img {
    max-width: 80%;
    height: auto;
  }
  &_text {
    margin-top: 15px;
    max-width: 400px;
    padding: 3px;
    font-family: poppins;
    color: #ef64d9;
    font-weight: 300;
    &_2 {
      color: #67e0ba;
      margin-top: 15px;
      max-width: 400px;
      padding: 3px;
      font-family: poppins;
      font-weight: 300;
      text-align: center;
      strong {
        font-size: 2rem;
      }
    }
  }
  @media (max-width: 890px) {
  }
}
.wallet {
  font-family: poppins;
  width: 26rem;
  height: 27rem;
  display: inline-flex;
  padding: 20px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #303030;
  box-shadow: -4px -4px 7px #3d3d3d, 7px 7px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  @media (max-width: 1000px) {
    padding: 10px 20px;
  }
  &_head {
    color: #eef0f5;
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
    @media (max-width: 1000px) {
      font-size: 1.3rem;
    }
  }
  &_para {
    text-transform: capitalize;
    color: #afafaf;
    font-family: poppins;
  }
  &_img {
    height: 140px;
    @media (max-width: 1000px) {
      height: 100px;
    }
  }
  &_break {
    position: relative;
    color: white;
    font-size: 13px;
    margin: -5px 0;
    &::before {
      content: "";
      height: 1px;
      width: 55px;
      position: absolute;
      background-color: #67e0ba;
      right: 20px;
      top: 10px;
    }
    &::after {
      content: "";
      height: 1px;
      width: 55px;
      position: absolute;
      top: 10px;
      left: 20px;
      background-color: #67e0ba;
    }
  }
  &_button {
    padding: 0.6rem 2rem;
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #67e0ba;
    font-size: 18px;
    font-family: poppins;
    text-transform: uppercase;
    border: none;
    @media (max-width: 1000px) {
      font-size: 14px;
    }
    &:active {
      box-shadow: inset -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
    }
  }
  @media (max-width: 1000px) {
    height: 350px;
  }
}
.ens {
  text-transform: capitalize;
  font-size: 13px;
  color: #ef64d9;
}
.cards {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: url(https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1410.jpg)
    fixed;
  margin: 30px auto;

  height: 300px;
  border-radius: 15px;
  // box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.cards .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}
.cards .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 15px;
  object-fit: cover;
}

// ------------------------------------------------- about --------------------------------------------------
.about {
  min-height: 90vh;
  @media (max-width: 890px) {
    margin-top: 50px;
  }
  &_head {
    text-align: right;
    color: #eef0f5;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    position: relative;
    &::before {
      content: "";
      background: #67e0ba;
      border-radius: 10px;
      position: absolute;
      height: 4px;
      width: 40%;
      right: 0;
      bottom: -10px;
    }
  }
  &_con {
    margin-top: 50px;
  }
  &_para {
    &__wrapper {
      padding: 10px 35px 10px 0;
      max-width: 600px;
      height: 400px;
      display: flex;
      align-items: center;
      @media (max-width: 1000px) {
        font-size: 14px;
        height: 350px;
      }
      @media (max-width: 890px) {
        max-width: 100%;
      }
    }
    color: #eef0f5;
    font-family: poppins;
    letter-spacing: 0.06rem;
    font-weight: 300;
  }
  &_paraone {
    margin-bottom: 15px;
    span {
      font-weight: 500;
      font-size: 25px;
      color: #67e0ba;
    }
  }

  &_card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 27rem;
    background: url(https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1410.jpg)
      fixed;
    background-size: cover;
    box-shadow: inset -4px -4px 7px #3d3d3d,
      inset 7px 7px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    @media (max-width: 1200px) {
      width: 100%;
      height: 350px;
    }
  }
}
//-----------------------------------About 2--------------------------------------------
.about2 {
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  &_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25rem;
    height: 27rem;
    background: url(https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1410.jpg)
      fixed;
    box-shadow: -4px -4px 7px #3d3d3d, 7px 7px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    button {
      padding: 0.6rem 2rem;
      background: #303030;
      box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      color: #67e0ba;
      font-size: 18px;
      font-family: poppins;
      text-transform: uppercase;
      border: none;
      &:active {
        box-shadow: inset -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
      }
    }
  }
  p {
    width: 40%;
    text-align: right;
    color: #eef0f5;
    font-family: poppins;
    letter-spacing: 0.06rem;
    font-weight: 400;
    line-height: 2rem;
    span {
      color: #67e0ba;
      font-family: poppins;
      font-size: 24px;
      line-height: 2rem;
    }
    .purpleText {
      font-family: poppins;
      font-size: 24px;
      line-height: 2rem;
      color: #ef64d9;
    }
  }
}
.features {
  margin-top: 100px;
  margin-bottom: 8rem;
  &__head {
    text-align: left;
    color: #eef0f5;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    position: relative;
    text-transform: uppercase;
    &::before {
      content: "";
      background: #ef64d9;
      border-radius: 10px;
      position: absolute;
      height: 4px;
      width: 40%;
      left: 0;
      bottom: -10px;
    }
  }
  &__card-container {
    margin: 10rem auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  &__card {
    max-width: 22rem;
    height: 22rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2rem 4rem;
    @media (max-width: 1200px) {
      width: 100%;
      height: 350px;
    }
    &--no {
      position: relative;
      // &__outline {
      // }
      &__text {
        position: absolute;
        top: 0.8rem;
        left: 1.25rem;
        font-size: 24px;
        font-family: Montserrat;
        color: #fff;
        font-weight: bold;
      }
    }
    &--title {
      &__text {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        font-family: Poppins;
      }
      &__underline {
        margin: 0 auto;
        border-radius: 20px;
        width: 51px;
        height: 0;
        border: 1.5px solid #67e0ba;
      }
    }
    &--text {
      margin: 0 auto;
      text-align: center;
      font-size: 18px;
      font-family: Poppins;
      color: #fff;
    }
  }
}
.team {
  margin-top: 100px;
  margin-bottom: 8rem;
  &_head {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
  }

  &_card {
    border-radius: 20px;
    text-align: center;
    font-family: poppins;
    color: white;
    position: relative;
    max-width: 381px;
    margin: 0 20px;
    &--name {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      z-index: 100;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      // text-shadow: 2px 2px rgba(48, 48, 48, 0.514);
    }
    &--type {
      position: absolute;
      z-index: 100;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      right: 1rem;
      bottom: 1rem;
      color: #fff;
      // text-shadow: 2px 2px rgba(255, 255, 255, 0.212);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      // right: 5px;
      right: 0;
      width: 100%;
      height: 98%;
      // z-index: 3;
      background: linear-gradient(
        to left,
        rgba(26, 18, 25, 0.4) 2%,
        rgba(103, 224, 186, 0)
      );
    }

    &__img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    &__name {
      font-size: 25px;
      text-transform: uppercase;
      margin-top: 5px;
    }

    &__role {
      background: #303030;
      box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin-top: 5px;
      padding: 10px 20px;
    }
    @media only screen and (max-width: 900px) {
      margin: 1rem auto;
    }
  }
}
.contact {
  margin: 10rem auto;
  background: url("/aurora-04.svg") no-repeat center bottom fixed;
  background-size: cover;
  height: 250px;
  border-radius: 12px;
  width: 96%;
  &__card {
    margin: 4rem auto;
    width: 95%;
    border-radius: 20px;
    // background: linear-gradient(97.86deg, #5685ff 0%, #67e0ba 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      color: #000000;
      padding: 1rem 3rem;
      border-bottom: 2px solid white;
    }
    &--email {
      font-family: Poppins;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-style: normal;
      font-weight: medium;
      font-size: 48px;
      line-height: 72px;
      text-align: center;
      color: #ffffff;
    }
  }
}
.ceramic {
  max-width: 100%;
  height: 250px;
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;

  &_head {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  &_box {
    padding: 10px 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__input {
      max-width: 750px;
      margin-right: 50px;
      width: 100%;
      padding: 15px;
      color: white;
      font-family: poppins;
      background: #303030;
      box-shadow: inset -4px -4px 4px #3d3d3d,
        inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin: 15px 0;
      border: none;
    }
  }
}
.right {
  padding: 10px 0 10px 35px;
  background-color: transparent;
}
</style>
