<template>
  <div class="container">
    <div class="profile">
      <div class="profile_card">
        <div class="img_wrapper">
          <img
            class="img_image"
            src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg"
            alt="John"
          />
        </div>
        <p class="profile_card__name">{{ profile.name }}</p>
        <!-- <div class="profile_card__role">{{ profile. }}</div> -->
        <div class="profile_card__info">
          <p>{{ profile.birthDate }}</p>
          <p>{{ profile.gender }}</p>
        </div>
        <div class="profile_card__bio">
          {{ profile.description }}
        </div>
        <div class="reputationbox">
          <div class="reputationbox_card">
            <p class="reputationbox_card__reputation">Reputation :</p>
            <p class="reputationbox_card__score">{{reputation}}</p>
          </div>
          <NuxtLink class="reputationbox_edit" to="/edit">
            <buttpn class="reputationbox_button">EDIT</buttpn>
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  // middleware: "auth",
  head () {
    return {
      title: 'Profile',
    }
  },
  computed: {
    ...mapState(["did", "ethaddress", "profile"])
  }, 
  beforeMount(){
    this.$store.dispatch('fetchBasicProfile')
  },
    mounted: function() {
    this.getReputation();
    this.reputation = localStorage.getItem("reputation");
    this.did = localStorage.getItem("did");
    this.ethaddress = localStorage.getItem("ethaddress");
  },
  methods: {
     async getReputation() {
      const score = await axios.get(
        `https://reputation-api.herokuapp.com/reputation/${this.$store.state.ethaddress}`
      );
      console.log(this.ethaddress)
      localStorage.setItem("reputation", score.data.reputation);
      console.log(score.data.reputation);
    }
  }
};
</script>
<style lang="scss" scoped>
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.profile {
  font-family: poppins;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 10px;

  &_card {
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 7px 7px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;

    &__name {
      color: white;
      font-size: 32px;
      padding-left: 22px;
    }
    &__box {
      margin-top: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__role {
      margin-top: 5px;
      position: relative;
      padding: 10px;
      font-family: poppins;
      color: white;
      border-radius: 10px 0px;
      letter-spacing: 0.04rem;
      border-style: solid;
      border-width: 3px;
      border-image: linear-gradient(
          45deg,
          rgb(239, 100, 217),
          rgb(103, 224, 186)
        )
        1;
    }
    &__info {
      margin-top: 5px;
      // color: white;
      font-size: 15px;
      color: #afafaf;
      display: flex;
      & > * {
        padding: 10px 22px 10px 0;
      }
    }
    &__bio {
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 500px;
      padding: 35px 25px;
      font-size: 14px;
      color: #afafaf;
      background: #303030;
      box-shadow: inset -4px -4px 7px #3d3d3d,
        inset 4px 4px 7px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
    }
  }
}

.img {
  &_wrapper {
    margin-top: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
  }
  &_image {
    width: 128px;
    height: 128px;
  }
}

.reputationbox {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 20px 0;
  &_card {
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    width: 300px;
    padding: 5px 30px;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;

    &__reputation {
      color: #67e0ba;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.05rem;
    }
    &__score {
      font-size: 40px;
      font-weight: 600;
      background: linear-gradient(115.87deg, #00ffa3 0%, #5685ff 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &_button {
    text-decoration: none;
    padding: 10px 30px;
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #67e0ba;
    font-size: 18px;
    font-family: poppins;
    text-transform: uppercase;
    &:active {
      box-shadow: inset -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
    }
  }
  &_edit {
    text-decoration: none;
  }
}
</style>
