<template>
  <div class="container">
    <div class="reputation">
      <div class="reputation_card">
        <div class="wallet">
          <p class="wallet_name">Wallet Address</p>
          <p class="wallet_address">{{ ethaddress }}</p>
        </div>
        <div class="reputationbox">
          <div class="reputationbox_card">
            <p class="reputationbox_card__reputation">Reputation</p>
            <p class="reputationbox_card__score">{{ reputation }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="center">
      <vs-table>
        <template #header>
          <vs-input v-model="search" border placeholder="Search" />
        </template>
        <template #thead>
          <vs-tr>
            <vs-th sort @click="users = $vs.sortData($event, users, 'name')">
              Name
            </vs-th>
            <vs-th sort @click="users = $vs.sortData($event, users, 'email')">
              Email
            </vs-th>
            <vs-th sort @click="users = $vs.sortData($event, users, 'id')">
              Id
            </vs-th>
          </vs-tr>
        </template>
        <template #tbody>
          <vs-tr
            :key="i"
            v-for="(tr, i) in $vs.getSearch(users, search)"
            :data="tr"
          >
            <vs-td>
              {{ tr.name }}
            </vs-td>
            <vs-td>
              {{ tr.email }}
            </vs-td>
            <vs-td>
              {{ tr.id }}
            </vs-td>
          </vs-tr>
        </template>
      </vs-table>
    </div> -->
    <div class="form">
      <form v-on:submit.prevent="handleSubmit">
        <input
          class="form_input"
          type="text"
          v-model="search"
          placeholder="Enter DID or EthAddress"
        />
      </form>
    </div>
    <template v-if="active">
      <div class="profile">
        <div class="profile_card">
          <p v-on:click="close" class="profile_card__close">X</p>
          <div class="img_wrapper">
            <img
              class="img_image"
              src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg"
              alt="John"
            />
          </div>
          <p class="profile_card__name">{{ didData.name }}</p>
          <div class="profile_card__info">
            <p>{{ didData.birthDate }}</p>
            <p>{{ didData.gender }}</p>
          </div>
          <div class="profile_card__bio">
            {{ didData.description }}
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  // middleware: "auth",
  head() {
    return {
      title: "Reputation"
    };
  },
  mounted: function() {
    this.reputation = localStorage.getItem("reputation");
    this.did = localStorage.getItem("did");
    this.ethaddress = localStorage.getItem("ethaddress");
    // this.getReputation();
  },
  data: () => ({
    search: "",
    users: [],
    reputation: "",
    didData: {
      name: "",
      description: "Enter Correct DID"
    },
    ethaddress: "",
    active: false
  }),
  // mounted: function() {
  //   this.reputation = localStorage.getItem("reputation");
  // },
  // computed: {
  //   ...mapState(["ethaddress"])
  // },
  methods: {
    async handleSubmit({ dispatch }) {
      let length = this.search.length;
      console.log(length);
      if (length == 42) {
        this.$store
          .dispatch("searchOtherProfileByEthaddress", {
            ethaddress: this.search
          })
          .then(data => {
            console.log(data);
            this.active = true;
          })
          .catch(error => {
            console.log(error);
          });
      } else {
        this.$store
          .dispatch("searchOtherProfileByDID", {
            did: this.search
          })
          .then(data => {
            console.log(data);
            this.didData = data;
            // console.log(this.didData.name);
          })
          .catch(error => {
            console.log(error);
          });
      }
      this.active = true;
      this.search = "";
    },
    close() {
      this.active = false;
    }
  }
};
// };
</script>

<style lang="scss" scoped>
// -------------------------------------------------- container -------------------------------------------------------
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.reputation {
  padding-top: 120px;
  margin-bottom: 20px;
  &_card {
    padding: 30px 50px;
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 7px 7px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
}
.wallet {
  display: flex;
  justify-content: space-between;
  font-family: poppins;
  &_name {
    color: #afafaf;
  }
  &_address {
    color: white;
  }
}

.reputationbox {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 0;
  &_card {
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    width: 350px;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;

    &__reputation {
      color: #67e0ba;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.05rem;
    }
    &__score {
      font-size: 40px;
      font-weight: 600;
      background: linear-gradient(115.87deg, #00ffa3 0%, #5685ff 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.center {
  margin-bottom: 40px;
  background: #303030;
  box-shadow: -4px -4px 7px #3d3d3d, 7px 7px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.form {
  &_input {
    width: 100%;
    padding: 15px;
    color: white;
    font-family: poppins;
    background: #303030;
    box-shadow: inset -4px -4px 4px #3d3d3d,
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 15px 0;
    border: none;
  }
}
.profile {
  font-family: poppins;
  margin-top: 10px;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 30px;

  &_card {
    position: relative;
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 7px 7px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;

    &__close {
      position: absolute;
      right: 10px;
      top: 8px;
      font-family: poppins;
      font-weight: 600;
      // font-size: 20px;
      // background: white;
      color: white !important;
      background: #303030;
      box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:active {
        box-shadow: inset -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
      }
    }

    &__name {
      color: white;
      font-size: 32px;
      // padding-left: 22px;
    }
    &__box {
      margin-top: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__role {
      margin-top: 5px;
      position: relative;
      padding: 10px;
      font-family: poppins;
      color: white;
      border-radius: 10px 0px;
      letter-spacing: 0.04rem;
      border-style: solid;
      border-width: 3px;
      border-image: linear-gradient(
          45deg,
          rgb(239, 100, 217),
          rgb(103, 224, 186)
        )
        1;
    }
    &__info {
      margin-top: 5px;
      // color: white;
      font-size: 15px;
      color: #afafaf;
      display: flex;
      flex-direction: column;
      align-items: center;
      & > * {
        margin-top: 5px;
        // padding: 10px 22px 10px 0;
      }
    }
    &__bio {
      margin-top: 15px;
      margin-bottom: 10px;
      max-width: 500px;
      padding: 35px 25px;
      font-size: 14px;
      color: #afafaf;
      background: #303030;
      box-shadow: inset -4px -4px 7px #3d3d3d,
        inset 4px 4px 7px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
    }
  }
}
.img {
  &_wrapper {
    margin-top: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: #303030;
    box-shadow: -4px -4px 7px #3d3d3d, 4px 4px 7px rgba(0, 0, 0, 0.25);
  }
  &_image {
    width: 128px;
    height: 128px;
  }
}
//
</style>
